<!DOCTYPE html>

<html>

<head>
<title>Ed's ISBN Web App</title>
</head>

<body>
<h1>ISBN Input App.</h1>
	<form action="isbn_input" method= "post">
	<input type="text" name="isbn_input">
	<input type="submit">
	<br><br><br>
	<%=answer%>


</body>